<%- include('common/header') %>
    <div class="details-content">
        <h2><%= blog.title %></h2>
        <h3><%= blog.snippet %></h3>
        <div class="content">
            <div class="text-container">
                <p><%= blog.body %></p>
            </div>
            <% if (blog.image && blog.image.data) { %>
                <div class="image-section">
                    <img src="/blogs/<%= blog._id %>/image" alt="Blog Image" />
                </div>
            <% } %>
        </div>
        <div class="buttons">
            <a class="update" href="/blogs/<%= blog._id %>/edit">edit</a>
            <a class="delete" data-doc="<%= blog._id %>">delete</a>
        </div>
    </div>

    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
    </script>
<%- include('common/footer') %>
